header {
  text-align: center;
  font-size: 5em;
  padding-bottom: 20px;
}

button, button:focus {
  border: none;
  cursor: pointer;
  outline:0;
}

p {
  padding: 20px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80vw;
  height: auto;
  top:50%;
  left:50%;
  max-height: 80vh;
  overflow-y: scroll;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.App {
  text-align: left;
  max-height:95vh;
  overflow-y: scroll;
}
.Bookings {
  padding: 20px;
  width: 100vw;
}

.Listings {
  height: '80vh';
  overflow-y: 'scroll';
  width: '100vw';
}

.Booking, .Listing {
  display: flex;
  flex-wrap: nowrap;
  justify-content:space-between;
  padding: 0 20px 40px 20px;
}

.Booking > .booking-img, 
.Booking > .booking-info, 
.Listing > .listing-img, 
.Listing > .listing-info {
  min-width: 200px;
}

.customer-label, 
.reservation-label, 
.dates-label, 
.category-label,
.vehicle-label {
  margin: 0;
  color: grey;
}
.category-label, .category {
  text-align: center;
}

.status-label {
  margin: 0;
  text-align: right;
}

.customer, 
.start-date, 
.end-date, 
.reservation, 
.category {
  margin: 0;
  padding: 10px 0 0;
}

.status {
  margin: 0;
  padding: 10px 0 0;
  text-align: right;
}

.booking-img img, .listing-img img {
  display: block;
  margin: auto;
  width: 150px;
}

.container {
  display: flex;
  flex-direction: row;
}

button.close {
  padding: 5px;
  border-radius: 2px;
  background-color: lightcoral;
}

button.pair {
  background-color: lightblue;
  border-radius: 2px;
  padding: 5px
}